<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">My django webApp</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="1">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./other">Other page</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    <h1>This is the other page</h1>
    <p>As the instruction said, I made 2 windows with a new Django App</p>
    <img src="https://ichef.bbci.co.uk/news/640/amz/worldservice/live/assets/images/2014/09/05/140905164109_eden_isla_tropical_624x351_thinkstock.jpg" alt="">
</div>


